body {
    margin: 0;
    text-align: center;
    color: white;
    background-color: #2e2e70;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 20px auto 0 auto;
}

p {
    font-family: "Cursed Timer ULiL", cursive;
    color: rgb(253, 130, 130);
    font-size: 72px;
    background-color: black;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 4px;
}

button {
    width: 35px;
    height: 35px;
    font-family: "Cursed Timer ULiL", cursive;
    color: white;
    background-color: #2e2e70;
    padding: 5px 10px;
    border: 1px solid white;
    margin: 2px;
    border-radius: 4px;
}

#reset-button {
    width: 80%;
    height: 40px;
    font-family: "Cursed Timer ULiL", cursive;
    font-size: 30px;
    color: white;
    background-color: #ff4d4d;
    padding: 5px 10px;
    border: 1px solid white;
    margin: 40px auto;
    border-radius: 4px;
}